<div class="reward-box">
  <div class="reward-header">
    <div class="reward-title">{{reward.title}}</div>
    <div class="reward-img">
      <mat-icon color="primary">star</mat-icon>
      <!-- <img [src]="reward.img" alt=""> -->
    </div>
  </div>
  <div class="reward-description">{{reward.description}}</div>
  <button mat-stroked-button color="primary" (click)="addReward(reward.key)" [disabled]="reward.quantityAvailable === 0 || isLoading()">
    <div *ngIf="isLoading() else notLoading" class="spinner">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </button>
</div>

<ng-template #notLoading>
  COP$ {{reward.value}}
</ng-template>
