
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'vaki-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $vakers-primary: mat-palette($mat-indigo);
// $vakers-accent: mat-palette($mat-pink, A200, A100, A400);
$vakers-primary: mat-palette($mat-vaki-theme-primary);
$vakers-accent: mat-palette($mat-vaki-theme-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $vakers-warn: mat-palette($mat-red);
$vakers-warn: mat-palette($vaki-mat-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vakers-theme: mat-light-theme((
  color: (
    primary: $vakers-primary,
    accent: $vakers-accent,
    warn: $vakers-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vakers-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dark-bg { background-color: mat-color($vaki-mat-accent, 'main'); color: mat-color($vaki-mat-accent, 'lighter');}
