<div class="card">
  <div class="img-section">
    <img class="img" [src]="data.url" alt="1">
  </div>
  <div class="body-section">
    <div class="header">
      <h2>{{data.name}}</h2>
      <a href="#">Ver Info</a>
    </div>

    <div class="progress">
      <div class="prog-top">
        <span>{{data.close_date}} dias antes del cierre Ene 31, 2021</span>
        <span>47% de la meta</span>
      </div>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <div class="prog-bot">
        <span>Meta</span>
        <span>COP $3.200.000</span>
      </div>
    </div>

    <div class="row">
      
    </div>
  </div>

</div>