<mat-toolbar class="dark-bg">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="">
      <img class="logo" alt="Vaki Logo" src="assets/images/logos/vaki-logo-white&green.svg">
    </a>

    <a mat-button>Explorar</a>
    <a mat-button>Crear</a>
    <a mat-button>Aprender</a>
    <span class="spacer"></span>
    <a mat-button [matBadge]="cartCounter" matBadgeColor="primary" routerLink="/cart">Carrito</a>
    <img class="lola" alt="Lola" src="assets/images/logos/lola-icon.gif">
  </mat-toolbar-row>
</mat-toolbar>